body {
    background: #333;
}

.jumbotron {
    text-align: center;
    background: none;
}

@media (min-width: 200px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}


/* ========= Carousel - @media - responsive ========= */

@media screen and (max-width:1000px) {
    .carousel-inner>.carousel-item>.slide-images {
        width: 100%;
        height: 450px;
    }
    .row>.col-12>.carousel {
        height: 450px;
    }
    .row>.col-12 {
        height: 450px !important;
    }
    .logoImage {
        padding: 20px 0;
    }
    .skateboardImage {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .carousel-inner>.carousel-item>.slide-images {
        width: 100%;
        height: 350px;
    }
    .row>.col-12>.carousel {
        height: 350px;
    }
    .row>.col-12 {
        height: 350px !important;
    }
    .logoImage {
        padding: 20px 0;
        display: block;
        margin: auto;
    }
    .skateboardImage {
        padding-bottom: 20px;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width:600px) {
    .carousel-inner>.carousel-item>.slide-images {
        width: 100%;
        height: 250px;
    }
    .row>.col-12>.carousel {
        height: 250px;
    }
    .carousel-inner>.carousel-item>.carousel-caption>.display-3 {
        font-size: 3rem;
    }
    .row>.col-12 {
        height: 250px !important;
    }
    .logoImage {
        padding: 20px 0;
        display: block;
        margin: auto;
    }
    .skateboardImage {
        padding-bottom: 20px;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width:400px) {
    .carousel-inner>.carousel-item>.slide-images {
        width: 100%;
        height: 180px;
    }
    .row>.col-12>.carousel {
        height: 180px;
    }
    .row>.col-12 {
        height: 180px !important;
    }
    .logoImage {
        padding: 20px 0;
        display: block;
        margin: auto;
    }
    .skateboardImage {
        padding-bottom: 20px;
        display: block;
        margin: auto;
    }
}


/* ========= Carousel ========= */

.row>.col-12 {
    height: 550px;
}

.carousel {
    height: 550px;
    margin-bottom: 50px;
}

.carousel .item {
    height: 600px;
}

.carousel-inner>.carousel-item>img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: 550px;
}


/* ========= Section Light ========= */

.sectionLight {
    background-color: #cccccc;
    padding: 2rem;
}

.col-sm-12>.coolStuffBtn {
    margin: 20px 0;
}

.btn {
    border-radius: 0rem;
}


/* ========= Section Light - 2nd ========= */

.imageCenter {
    display: block;
    margin: auto;
}

.sectionDark-2nd {
    background-color: rgb(169, 169, 170);
    padding: 20px 0;
}

.sectionDark-2-btn {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}


/* ========= Model ========= */

.modelLogo {
    display: block;
    margin: auto;
}

.modal-title {
    margin: auto;
}


/* ========= Footer ========= */

.footer {
    padding: 30px 0 40px 25px;
}

.footerImage {
    margin-left: 100px !important;
}

.fa {
    margin: 25px 10px 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: white;
}

.socialWrapper {
    margin: auto;
}